# C++ objects and libs
*.slo
*.lo
*.o
*.obj
*.suo
*.tlb
*.tlh
*.mac
*.dll
*.exe
*.dylib
*.so
*.so.*
*.dylib.*

# Qt files
Makefile*
*.pro.user
*.pro.user.*
*.qmake.stash
*.qmake.cache
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.autosave

# macOS specific
.DS_Store
*.app/
build/
